@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

html[data-theme=light] {
  background-color: hsl(0, 0%, 98%);
  color: #000;
}

html[data-theme=dark] {
  background-color: hsl(207, 26%, 17%);
  color: #fff;
}
html[data-theme=dark] nav {
  background-color: hsl(209, 23%, 22%);
}
html[data-theme=dark] select {
  background-color: hsl(209, 23%, 22%);
  color: #fff;
}
html[data-theme=dark] .search {
  background-color: hsl(209, 23%, 22%);
  color: #fff;
}
html[data-theme=dark] .search::placeholder {
  color: #fff;
}
html[data-theme=dark] .back-btn {
  color: #fff;
  border: none;
  background-color: hsl(209, 23%, 22%);
  box-shadow: 0px -1px 10px -5px rgba(0, 0, 0, 0.35);
}
html[data-theme=dark] .card {
  background-color: hsl(209, 23%, 22%);
}
html[data-theme=dark] .card-body {
  background-color: hsl(209, 23%, 22%);
  color: #fff;
}

#dark-mode[data-display=none] {
  display: none;
}
#dark-mode[data-display=none] .moon {
  display: none;
}

#dark-mode[data-display=show] {
  display: block;
}
#dark-mode[data-display=show] .moon {
  display: initial;
}

#light-mode {
  display: none;
}
#light-mode .sun {
  display: none;
}

#light-mode[data-display=show] {
  display: block;
  color: #fff;
}
#light-mode[data-display=show] .sun {
  display: initial;
}

#light-mode[data-display=none] {
  display: none;
}

#single-dark-mode[data-display=none] {
  display: none;
}
#single-dark-mode[data-display=none] .moon {
  display: none;
}

#single-dark-mode[data-display=show] {
  display: block;
}
#single-dark-mode[data-display=show] .moon {
  display: initial;
}

#single-light-mode {
  display: none;
}
#single-light-mode .sun {
  display: none;
}

#single-light-mode[data-display=show] {
  display: block;
  color: #fff;
}
#single-light-mode[data-display=show] .sun {
  display: initial;
}

#single-light-mode[data-display=none] {
  display: none;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

nav {
  padding: 2rem;
  box-shadow: 0 2px 6px -6px black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

i {
  font-weight: 600;
}

.btn {
  border: none;
  background-color: transparent;
  font-weight: 600;
}

.main {
  margin: 2rem 4rem;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50svh;
}

#countries {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  place-items: center;
  gap: 4rem;
}
#countries .card {
  height: 22rem;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px -1px 10px -5px rgba(0, 0, 0, 0.35);
  cursor: pointer;
}
#countries .card-body {
  padding: 1.5rem;
}
#countries .card-title {
  margin-bottom: 1rem;
}
#countries .card-img {
  aspect-ratio: 16/9;
  object-fit: cover;
  width: 100%;
}
#countries .card-title {
  font-size: 1rem;
}

.search-functions {
  display: flex;
  justify-content: space-between;
  margin: 2rem 4rem;
}
.search-functions .search {
  width: 25rem;
  height: 3rem;
  position: relative;
  padding-left: 2rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0px -1px 10px -5px rgba(0, 0, 0, 0.35);
}
.search-functions select {
  background-color: transparent;
  padding: 0 1em 0 1rem;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  width: 15rem;
  height: 3rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0px -1px 10px -5px rgba(0, 0, 0, 0.35);
}
.search-functions .search-icon {
  position: absolute;
  z-index: 9999;
  padding: 0.7rem;
}

.single-page {
  overflow-y: hidden;
}

.country-container {
  padding: 4rem;
}

.country {
  height: 80dvh;
  display: flex;
  gap: 5rem;
}

.country-img {
  width: 35rem;
}

.country-details {
  padding: 2rem;
}

.country-title {
  padding-bottom: 2rem;
}

.country-subdetails {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  line-height: 2rem;
}

.right-side {
  padding-left: 5rem;
}

.tag-group {
  display: flex;
}

.group-tag {
  background-color: transparent;
  border: 1px solid hsl(0, 0%, 98%);
  padding: 0.2rem 1rem;
}

.back-btn {
  display: inline-block;
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 98%);
  box-shadow: 0px -1px 10px -5px rgba(0, 0, 0, 0.35);
  padding: 0.5rem 1.5rem;
  margin-bottom: 3rem;
  text-decoration: none;
  border-radius: 5px;
}

.arrow {
  padding-right: 0.5rem;
}

@media only screen and (width <= 48rem) {
  nav {
    padding: 1rem;
  }
  .nav-title {
    font-size: 0.8rem;
  }
  .main {
    margin: 1rem;
  }
  .search-functions {
    flex-direction: column;
    margin: 1rem;
  }
  .search-functions .search {
    width: 100%;
    margin-bottom: 2rem;
  }
  .single-page {
    overflow: initial;
  }
  .country {
    display: flex;
    flex-direction: column;
    margin: 2rem;
  }
  .country-container {
    padding: 0;
  }
  .country-details {
    padding: 0;
  }
  .country-subdetails {
    display: initial;
    padding: 0;
  }
  .right-side {
    padding: 0;
    margin-bottom: 3rem;
  }
  .country-img {
    width: 100%;
  }
  .back-btn {
    margin: 2rem;
  }
}

/*# sourceMappingURL=styles.css.map */
